.a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px !important;
  font-weight:normal;
  color: rgb(135, 107, 107);
  transform: translateY(10px);
  transform: skewY();
  transform: translateY(1%);
  vertical-align:middle;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: start;
}